.image
{
    display: flex;
   justify-content: space-between;
   margin: 10px;
   align-items: center;
   
}
.image1{
    width: 50%;
}

@media (max-width: 480px){
    .image{
        flex-direction: column;
    }
}

@media (min-width: 481px) and (max-width:768px){
    .image{
       display: grid;
       grid-template-columns: auto auto;
    }
    
   
}


@media (min-width:769px){
    .image{
       display: grid;
       grid-template-columns: auto auto auto auto;
    }
    
   
}

